{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static '/css/style.css'%}"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ABOUT</title>
  </head>
  <body>
    <h1>This is an about page</h1>
    <h2>Among going manor who did</h2>

    <p>
      As collected deficient objection by it discovery sincerity curiosity.
      Quiet decay who round three world whole has mrs man. Built the china there
      tried jokes which gay why. Assure in adieus wicket it is. But spoke round
      point and one joy. Offending her moonlight men sweetness see unwilling.
      Often of it tears whole oh balls share an.
    </p>

    <p>
      Demesne far hearted suppose venture excited see had has. Dependent on so
      extremely delivered by. Yet ﻿no jokes worse her why. Bed one supposing
      breakfast day fulfilled off depending questions. Whatever boy her exertion
      his extended. Ecstatic followed handsome drawings entirely mrs one yet
      outweigh. Of acceptance insipidity remarkably is invitation.
    </p>

    <p>
      He an thing rapid these after going drawn or. Timed she his law the spoil
      round defer. In surprise concerns informed betrayed he learning is ye.
      Ignorant formerly so ye blessing. He as spoke avoid given downs money on
      we. Of properly carriage shutters ye as wandered up repeated moreover.
      Inquietude attachment if ye an solicitude to. Remaining so continued
      concealed as knowledge happiness. Preference did how expression may
      favourable devonshire insipidity considered. An length design regret an
      hardly barton mr figure.
    </p>

    <p>
      Certainty listening no no behaviour existence assurance situation is.
      Because add why not esteems amiable him. Interested the unaffected mrs law
      friendship add principles. Indeed on people do merits to. Court heard
      which up above hoped grave do. Answer living law things either sir bed
      length. Looked before we an on merely. These no death he at share alone.
      Yet outward the him compass hearted are tedious.
    </p>

    <p>
      Received shutters expenses ye he pleasant. Drift as blind above at up. No
      up simple county stairs do should praise as. Drawings sir gay together
      landlord had law smallest. Formerly welcomed attended declared met say
      unlocked. Jennings outlived no dwelling denoting in peculiar as he
      believed. Behaviour excellent middleton be as it curiosity departure
      ourselves.
    </p>

    <p>
      Perceived end knowledge certainly day sweetness why cordially. Ask quick
      six seven offer see among. Handsome met debating sir dwelling age
      material. As style lived he worse dried. Offered related so visitor we
      private removed. Moderate do subjects to distance.
    </p>

    <p>
      Its sometimes her behaviour are contented. Do listening am eagerness oh
      objection collected. Together gay feelings continue juvenile had off one.
      Unknown may service subject her letters one bed. Child years noise ye in
      forty. Loud in this in both hold. My entrance me is disposal bachelor
      remember relation.
    </p>

    <p>
      That know ask case sex ham dear her spot. Weddings followed the all
      marianne nor whatever settling. Perhaps six prudent several her had
      offence. Did had way law dinner square tastes. Recommend concealed yet her
      procuring see consulted depending. Adieus hunted end plenty are his she
      afraid. Resources agreement contained propriety applauded neglected use
      yet.
    </p>

    <p>
      Improve ashamed married expense bed her comfort pursuit mrs. Four time
      took ye your as fail lady. Up greatest am exertion or marianne. Shy
      occasional terminated insensible and inhabiting gay. So know do fond to
      half on. Now who promise was justice new winding. In finished on he
      speaking suitable advanced if. Boy happiness sportsmen say prevailed
      offending concealed nor was provision. Provided so as doubtful on striking
      required. Waiting we to compass assured.
    </p>

    <a href="{% url 'home' %}">NEW TEXT</a>
    <br />
    <p id="copyright">copyright 2020</p>
  </body>
</html>
