{% load static %}
<!doctype html>
<html lang="en">
  <head>

    <link rel="stylesheet" type="text/css" href="{% static '/css/style.css'%}" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
  </head>
  <body>

<h1>WORD COUNT</h1>
<form action="{% url 'count' %}" method="POST">
    {% csrf_token %}
    <textarea cols="100" rows="25" name="fulltext" placeholder="your text here"></textarea>
    <br>
    <input type="submit" value="count!"></input>
</form>
<br>
<br>
<br>
<a class="about" href="{%url 'about'%}">ABOUT</a>


  </body>
</html>